.settingsTable{
    border-left: solid 2px var(--ion-color-medium-light);
    position: relative;
    top: 0px;
    left: -2px;
    width: 100%;
}

.expSetCol{
    padding-left: 0.7em;
}

.expSetColNoWrap{
    white-space: nowrap;
    padding-left: 0.7em;
}

.expSetColNoWrapFirst{
    white-space: nowrap;
    padding-left: 0.7em;
}

.colFirstRow {
    padding-top: 2.3em;
}

.editTitleButton{
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
    position: relative;
    left: -5px;
    text-transform: none;
    font-family: 'Univers'!important;
    --border-radius: 0px;
    --box-shadow: none;
}