/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
    /** primary **/
    --ion-color-primary: #0071BC;
    --ion-color-primary-rgb: 0,113,188;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #00497F;
    --ion-color-primary-tint: #0099F9;

    /** secondary **/
    --ion-color-secondary: #0cd1e8;
    --ion-color-secondary-rgb: 12, 209, 232;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #0bb8cc;
    --ion-color-secondary-tint: #24d6ea;

    /** tertiary **/
    --ion-color-tertiary: #748a96;
    --ion-color-tertiary-rgb: 116,138,150;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0,0,0;
    --ion-color-tertiary-shade: #667984;
    --ion-color-tertiary-tint: #8296a1;

    /** success **/
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;

    /** warning **/
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;

    /** danger **/
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;

    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    /** medium **/
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-medium-light: #dbdbdb;
    --ion-color-medium-light-rgb: 219,219,219;
    --ion-color-medium-light-contrast: #000000;
    --ion-color-medium-light-contrast-rgb: 0,0,0;
    --ion-color-medium-light-shade: #c1c1c1;
    --ion-color-medium-light-tint: #dfdfdf;

    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;

    --ion-grid-padding: 1px;
}

.ion-color-primary {
    --ion-color-base: var(--ion-color-primary);
    --ion-color-base-rgb: var(--ion-color-primary-rgb);
    --ion-color-contrast: var(--ion-color-primary-contrast);
    --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
    --ion-color-shade: var(--ion-color-primary-shade);
    --ion-color-tint: var(--ion-color-primary-tint);
}

.ion-color-primary-contrast {
    --ion-color-base: var(--ion-color-primary-contrast);
    --ion-color-base-rgb: var(--ion-color-primary-contrast-rgb);
    --ion-color-contrast: var(--ion-color-primary);
    --ion-color-contrast-rgb: var(--ion-color-primary-rgb);
    --ion-color-shade: var(--ion-color-light-contrast);
    --ion-color-tint: var(--ion-color-medium);
}

.ion-color-medium-light {
    --ion-color-base: var(--ion-color-medium-light);
    --ion-color-base-rgb: var(--ion-color-medium-light-rgb);
    --ion-color-contrast: var(--ion-color-medium-light-contrast);
    --ion-color-contrast-rgb: var(--ion-color-medium-light-contrast-rgb);
    --ion-color-shade: var(--ion-color-medium-light-shade);
    --ion-color-tint: var(--ion-color-medium-light-tint);
}

@keyframes fadeIn {
    from {
        opacity: 0.99;
    }
  
    to {
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    from {
        opacity: 0.0;
    }
  
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.1s;
}

.fadeInLong {
    animation-name: fadeIn2;
    animation-duration: 0.1s;
}

.routerOutlet {
    margin-top: 0px;
}

.textFont{
    font-family: 'Univers'!important;
    font-weight: 500;
}

.mainTabButtonLabel{
    line-height: 1.0;
    margin-bottom: 2px;
    padding-bottom: 4px;
}

.headlineFont{
    font-family: 'UniversBQ-Bold'!important;
}

.secondaryAlertButton{
    text-transform: none!important;
    color: var(--ion-color-tertiary)!important;
}

.primaryAlertButton{
    text-transform: none!important;
    color: var(--ion-color-primary)!important;
}

.closeTipsButton{
    text-transform: none!important;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    --box-shadow: 0;
    --background: var(--ion-color-primary);
    font-family: 'Univers'!important;
}

.scrollDownArrow{
    position: absolute;
    bottom: 0px;
    width: 100%;
    opacity: 1;
    fill: var(--ion-color-primary);
    z-index: 99999999; 
    background-color: transparent;
}

.header-md::after {
    display: none;
}

.modalTip{
    overflow-y: auto;
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

body {
    background-color: var(--ion-color-primary);
}
    
ion-app {
    margin-top: env(safe-area-inset-top);
}

@font-face {
  font-family: 'Univers';
  src: url('../resources/fonts/UniversAltMu.otf');
}

@font-face {
  font-family: 'UniversBQ-Bold';
  src: url('../resources/fonts/UniversBQ-Bold.otf');
}